<!-- Raw Material -->
<div class="section-title" id="Raw Material">
    <h2>Add Raw Materials</h2>
  </div>
  
  <form action="http://127.0.0.1:5000/userawmaterial" method="post"id="Raw Material">
   
    <div class="form-group">
        <label for="MilkCM500Role">OASIS MILK CM 500 ML Role: </label>
        <input type="text" id="MilkCM500RoleQuantity" name="MilkCM500RoleQuantity" placeholder="Quantity....">
    </div>
  
      <div class="form-group">
        <label for="MilkCM200Role">OASIS MILK CM 200 ML Role: </label>
        <input type="text" id="MilkCM200RoleQuantity" name="MilkCM200RoleQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="MilkTM500Role">OASIS MILK TM 500 ML Role: </label>
        <input type="text" id="MilkTM500RoleQuantity" name="MilkTM500RoleQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="MilkTM200Role">OASIS MILK TM 200 ML Role : </label>
        <input type="text" id="MilkTM200RoleQuantity" name="MilkTM200RoleQuantity" placeholder="Quantity....">
      </div> 
  
      <div class="form-group">
        <label for="Lassi200Role">OASIS LASSI 200 ML Role:</label>
        <input type="text" id="Lassi200RoleQuantity" name="Lassi200RoleQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="LassiCUP200cup">OASIS LASSI CUP 200 ML Cup:</label>
        <input type="text" id="LassiCUP200cupQuantity" name="LassiCUP200cupQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="LassiMANGOCUP200cup">OASIS LASSI MANGO CUP 200 ML Cup:</label>
        <input type="text" id="LassiMANGOCUP200cupQuantity" name="LassiMANGOCUP200cupQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi200MLRole">OASIS DAHI 200 ML Role:</label>
        <input type="text" id="Dahi200MLRoleQuantity" name="Dahi200MLRoleQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi500MLRole">OASIS DAHI 500 ML Role:</label>
        <input type="text" id="Dahi500MLRoleQuantity" name="Dahi500MLRoleQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi2LTBucket">OASIS DAHI 2 LTR 3.0 Bucket:</label>
        <input type="text" id="Dahi2LTBucketQuantity" name="Dahi2LTBucketQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi5LTBucket">OASIS DAHI 5 LTR 3.0 Bucket:</label>
        <input type="text" id="Dahi5LTBucketQuantity" name="Dahi5LTBucketQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi10LTBucket">OASIS DAHI 10 LTR 3.0 Bucket:</label>
        <input type="text" id="Dahi10LTBucketQuantity" name="Dahi10LTBucketQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi2LT1.5Bucket">OASIS DAHI 2 LTR 1.5 Bucket:</label>
        <input type="text" id="Dahi2LT1.5BucketQuantity" name="Dahi2LT1.5BucketQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi5LT1.5Bucket">OASIS DAHI 5 LTR 1.5 Bucket:</label>
        <input type="text" id="Dahi5LT1.5BucketQuantity" name="Dahi5LT1.5BucketQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi10LT1.5Bucket">OASIS DAHI 10 LTR 1.5 Bucket:</label>
        <input type="text" id="Dahi10LT1.5BucketQuantity" name="Dahi10LT1.5BucketQuantity" placeholder="Quantity....">
      </div>
          
      <div class="form-group">
        <label for="ButtermilkRole">OASIS BUTTER MILK 500 ML Role:</label>
        <input type="text" id="ButtermilkRoleQuantity" name="ButtermilkRoleQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Khova500Tin">OASIS KHOVA 500 GM Tin:</label>
        <input type="text" id="Khova500TinQuantity" name="Khova500TinQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Khoya1000Tin">OASIS KHOVA 1000 GM Tin:</label>
        <input type="text" id="Khoya1000TinQuantity" name="Khoya1000TinQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Shrikhand100Tin">OASIS SHRIKHAND 100 GM Tin:</label>
        <input type="text" id="Shrikhand100TinQuantity" name="Shrikhand100TinQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Shrikhand250Tin">OASIS SHRIKHAND 250 GM Tin:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Ghee200Tin">OASIS GHEE 200 ML Tin :</label>
        <input type="text" id="Ghee200TinQuantity" name="Ghee200TinQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Ghee500Tin">OASIS GHEE 500 ML Tin:</label>
        <input type="text" id="Ghee500TinQuantity" name="Ghee500TinQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Ghee15LTTin">OASIS GHEE 15 LTR Tin:</label>
        <input type="text" id="Ghee15LTTinQuantity" name="Ghee15LTTinQuantity" placeholder="Quantity....">
      </div>
      
      <div class="form-group">
        <label for="Paneerloose">PANEER LOOSE:</label>
        <input type="text" id="PaneerlooseQuantity" name="PaneerlooseQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="khovaloose">KHOVA LOOSE:</label>
        <input type="text" id="khovalooseQuantity" name="khovalooseQuantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="LASSI CUP FOIL ">LASSI CUP FOIL :</label>
        <input type="text" id="LASSI CUP FOIL Quantity" name="LASSI CUP FOIL Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="IFF FLAVER MANGO  ">IFF FLAVER MANGO  :</label>
        <input type="text" id="IFF FLAVER MANGO Quantity" name="IFF FLAVER MANGO Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="IFF FLAVER VANILLA ">IFF FLAVER VANILLA :</label>
        <input type="text" id="IFF FLAVER VANILLA Quantity" name="IFF FLAVER VANILLA Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="CULTURE AMAZIKA ">CULTURE AMAZIKA :</label>
        <input type="text" id="CULTURE AMAZIKA Quantity" name="CULTURE AMAZIKA Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="CULTURE DANISKO ">CULTURE DANISKO :</label>
        <input type="text" id="CULTURE DANISKO Quantity" name="CULTURE DANISKO Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="CULTURE HR ">CULTURE HR :</label>
        <input type="text" id="CULTURE HR Quantity" name="CULTURE HR Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="LIQUID SOAP  ">LIQUID SOAP :</label>
        <input type="text" id="LIQUID SOAP Quantity" name="LIQUID SOAP Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="COS SODA  ">COS SODA :</label>
        <input type="text" id="COS SODA Quantity" name="COS SODA Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="KAOH  ">KAOH :</label>
        <input type="text" id="KAOHQuantity" name="KAOHQuantity" placeholder="Quantity....">
      </div>
     
      <br><br>
      <div style="padding-left: 190px;">
        <button type="submit">Submit</button>
      </div>
    </form>