<!-- Product Productions -->
<div class="section-title" id="Product-Prices">
    <h2>Products Proudctions</h2>
  </div>
  
  <form id="Product Prices">
   
    <div class="form-group">
        <label for="MilkCM500">OASIS MILK CM 500 ML: </label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
    </div>
  
      <div class="form-group">
        <label for="MilkCM200">OASIS MILK CM 200 ML: </label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="MilkTM500">OASIS MILK TM 500 ML: </label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="MilkTM200">OASIS MILK TM 200 ML : </label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div> 
  
      <div class="form-group">
        <label for="Lassi200">OASIS LASSI 200 ML:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="LassiCUP200">OASIS LASSI CUP 200 ML:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="LassiMANGOCUP200">OASIS LASSI MANGO CUP 200 ML:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi200">OASIS DAHI 200 ML:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi500">OASIS DAHI 500 ML:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi2LT">OASIS DAHI 2 LTR 3.0:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi5LT">OASIS DAHI 5 LTR 3.0:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi10LT">OASIS DAHI 10 LTR 3.0:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi10LT">OASIS DAHI 2 LTR 1.5:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi10LT">OASIS DAHI 5 LTR 1.5:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Dahi10LT">OASIS DAHI 10 LTR 1.5:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
          
      <div class="form-group">
        <label for="Buttermilk">OASIS BUTTER MILK 500 ML:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Khova500">OASIS KHOVA 500 GM:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Khoya1000">OASIS KHOVA 1000 GM:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Shrikhand100">OASIS SHRIKHAND 100 GM:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Shrikhand250">OASIS SHRIKHAND 250 GM:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Ghee200">OASIS GHEE 200 ML :</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Ghee500">OASIS GHEE 500 ML :</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="Ghee15LT">OASIS GHEE 15 LTR:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
      
      <div class="form-group">
        <label for="Paneerloose">PANEER LOOSE:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
  
      <div class="form-group">
        <label for="khovaloose">KHOVA LOOSE:</label>
        <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
      </div>
     
  
  
      <br><br>
      <div style="padding-left: 190px;">
        <button type="submit">Submit</button>
      </div>
    </form>
